.principal_editar_usuario  {
position: fixed;
top: 50%;
left: 50%;
width: 40vw;
/* height: 90vh; */
display: flex;
flex-direction: column;
padding: 20px;
z-index: 1000;  /*para que esté por encima de los otros complementos*/
border: 1px solid #bcb8b8;
background-color: #d8d4d4;
transform: translate(-50%, -50%);
border-radius: 8px;

}

.editar_usuario{
    background-color:white;
    padding: 10px;
}

.form_editar_cliente input {
    padding: 5px;
    font-weight: 500;
    margin-bottom: 8px;
}
.form_editar_cliente label{
    font-weight: 600;
}


 #titulo_modificar{
    font-size: 18px;
    font-weight: 500;
 }



 .editar_usuarios input{
    margin-bottom: 8px;
 }

 .editar_usuarios button{
    margin-bottom: 8px;
    background-color: #63b8b9;
 }

 .cerrar_editar{
    margin-top: 10px;
 }

 .formulario_editar_usuario p{
   font-size: 18px;
   font-weight: 600;
   color: #63b8b9;
 }
 

 #boton_eliminar_usuario{
   margin-right: 30px;
 }