.central_user{


    position: fixed;
    top: 5%;
    left: 20%;
    width: 60vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    z-index: 1000;  /*para que esté por encima de los otros complementos*/
    border: 1px solid #bcb8b8;
    background-color: #d8d4d4;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    align-items: center;

    
    
}
#boton_cierra_incidencias{
    margin-top: 15px;
    padding: 5px;
    width: 150px;    
}

.central_user p{
    font-size: 18px;
    font-weight: 500;
}

