body{
    background: url('../img/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.form-login{
   
    
    background-color: #c8d4d3;
    width: 30vw;
    max-width: 500px;
    /* height: auto; */
    padding: 20px;
    border-radius: 10px;
    border:  #1b9f97;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;

}

form label{
   
    color: #34344c;
    font-size: 18px;
}

.form-group{
    margin: 30px;
}

.logo_login{
    position: absolute;
    top: 10%;
    left:20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mensaje_error_credenciales{
    margin-bottom: 15px;
    color: rgb(193, 64, 64);
}

.botones_login{
    display: flex;
    justify-content: space-between;

    
}

.boton-primario{
    border-radius: 15px;
    background-color: cadetblue;
    padding: 8px 20px;
    border: none;
    margin-left: 20px;
    margin-right: 30px;
    cursor: pointer;
}

@media (max-width: 800px){
    .form-login{
        width: 80%;
        max-width: 90%;
        padding: 15px;
    }

    .logo_login{
        position: absolute;
        top: 80px;
        left: 50%;
        transform: translateX(-50%); 
        width: 60px;
        height: 60px;
    }

    .botones_login{
        flex-direction: column;
        align-items: center;
    }

    .boton-primario {
        width: 100%;
        margin: 5px 0;
    }
}
