.principal_user{
   
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw;
    height: 100vh;
     
    
    
}

.elegir_user{

    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    justify-content: center;
    margin-left: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
    
    
}

.contenedor_elegir{
    
    padding: 10px;
    width: 40%;
    border-radius: 20px;
    margin-bottom: 150px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.titulo_seleccion{
    
    padding: 5px;
    color: #1b9f97;
    text-align: center;
}

#logo_informes, #logo_lista_informes{
    width: 40px;
    height: 40px;
   
}

.seleccionar_opcion{
    color: #1b9f97;
}

.contenedor_crear, .contenedor_misIncidencias{
    background-color: #eff1f4;
    margin-bottom: 9px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}