
.principal_elegir{
width: 100%;
height: auto;
display: flex;
/* justify-content: center; */
align-items: center;

}

.elegir_opcion{
    
    
    padding: 10px;
    /* border: 1px solid #34344c; */
    border-radius: 10px;
    width: 40%;
    background-color: white;
    margin-left: 10%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    
    
}

.titulo{
    color: #1b9f97;
    text-align: center;
    
    
}

.titulo::before,
.titulo::after {
    content: '';
    display: inline-block;
    width: 10px; /* Espacio en blanco antes y después del título */
    /* background-color: #fff; */
}

.seleccionar_opcion{
    cursor: pointer;
    color: #1b9f97;
    font-size: 20px;
}

#logo_informes, #logo_usuarios, #logo_empleados{
    width: 40px;
    height: 40px;
}

.elegir_incidencias, .elegir_usuarios, .elegir_empleados{
    background-color: #eff1f4;
    margin-bottom: 9px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}